@import url(http://fonts.googleapis.com/css?family=Poly|Droid+Sans);

body {
  width: 800px;
  margin: auto;
  font-family: 'Poly', 'Droid Sans';
}

img {
  max-width: 100%;
}

p, a, ul, ol, table {
  font-size:1.1em;
}

p {
  line-height: 1.5em;
  color:rgb(50,50,50);
}

footer {
  color: rgb(170,170,170);
  margin-top: 20px;
}
footer a,footer a:visited {
  color: rgb(50,100,170);
}
 

.float-left {
  float: left;
  margin: 5px;
}
.float-right {
  float: right;
  margin: 5px;
}
.clear-float {
  clear: both;
}

.text-align-right {
  text-align: right;
}

.next-tutorial-link {
  margin-top: -45px;
}

.info {
  padding: 10px;
  background-color: rgb(100,150,255);
  border-radius: 5px;
  color: white;
}


/* back to top button */

#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:10px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
  background:url(../img/ui.totop.png) no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}


/* from sublime text's Python markdown, preview in browser */

a{ color: #0645ad; text-decoration:none;}
a:visited{ color: #0b0080; }
a:hover{ color: #06e; }
a:active{ color:#faa700; }
a:focus{ outline: thin dotted; }
a:hover, a:active{ outline: 0; }

span.backtick {
  border:1px solid #EAEAEA;
  border-radius:3px;
  background:#F8F8F8;
  padding:0 3px 0 3px;
}


p{
  margin:1em 0;
}

img{
  max-width:100%;
}

h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  color:#111;
  line-height:1em;
}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.3em; }
h2{ font-size:2em; border-bottom:1px solid silver; padding-bottom: 5px; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }

blockquote{
  color:#666666;
  margin:0;
  padding-left: 2em;
  border-left: 0.5em #EEE solid;
}
hr { display: block; height: 2px; border: 0; border-top: 1px solid #aaa;border-bottom: 1px solid #eee; margin: 1em 0; padding: 0; }


pre , code, kbd, samp { 
  color: #000; 
  font-family: monospace; 
  font-size: 0.88em; 
  border-radius:3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC; 
}
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 5px 12px;}
pre code { border: 0px !important; padding: 0;}
code { padding: 0 3px 0 3px; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 2em; }
li p:last-child { margin:0 }
dd { margin: 0 0 0 2em; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

